<!DOCTYPE html>
<html>
<head>
  <title>Bookkeeping</title>
  <%= stylesheet_link_tag    "bookkeeping/application", media: "all" %>
  <%= javascript_include_tag "bookkeeping/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
